In [1]:
import pandas as pd 
import numpy as np
df = pd.read_csv('./Ver_2_CS170_Fall_2021_Small_data__74.txt', header=None)

In [2]:
# DATA CLEANING AND PREPROCESSING
rows = []
for i in range(df.shape[0]):
    temp = (df.iloc[i][0].split())
    for j in range(len(temp)):

        # Here I am converting the scientific notation into floats
        temp[j] = float(temp[j])

    # I put the classifications into one column and the vectors in the other
    rows.append(pd.Series([temp[0], np.array(temp[1:])])) 

data = pd.DataFrame(rows)

# Rename the columns for readable code
data.columns = ['classification', 'vector']

In [7]:
# What the data looks like
data.head(10)

   classification                                             vector
0             2.0  [0.86160478, 1.2455817, 0.20317457, 0.88534224...
1             2.0  [-0.98795878, -0.20452204, -0.64498585, -1.557...
2             2.0  [-1.4792735, -1.5041537, 1.2886975, -0.0627947...
3             2.0  [-0.22092142, -1.9266796, 0.64167247, 0.015177...
4             2.0  [-0.1521499, 0.74871665, 0.14229458, 0.6681902...
5             2.0  [0.082675367, -0.20049365, 0.5233768, 0.405501...
6             2.0  [-0.33136848, -0.18179718, -1.3554072, 1.65210...
7             1.0  [0.80259323, -0.027698353, 1.7339502, 0.236725...
8             2.0  [0.39315453, 0.57037523, -0.49378716, 0.955038...
9             2.0  [0.92332498, -1.3573827, -1.0012569, -0.353678...

In [5]:
# data.vector = data.vector.map(lambda x: x[0:2])
data.classification[0]

2.0

In [6]:
from nearestNeighbor import accuracy
from nearestNeighbor import nearestNeighbor
# nearestNeighbor(0, data), data.classification[0]
accuracy(data)

0.75